/*base.scss*/

@font-face {
    font-family: SFDisplay;
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SFDisplayBold;
    src: url(../fonts/SF-Pro-Display-Bold.otf);    
}

@font-face {
    font-family: SFText;
    src: url(../fonts/SFProText-Regular.ttf); 
}

@font-face {
    font-family: SFTextBold;
    src: url(../fonts/SFProText-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');


/*start of search box css*/
/*input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}




/*body css*/

body {
    font-family: 'Oxygen', sans-serif;
    /*max-width:900px;*/
}

.container{
    width:100%;
    background-color:green;
    color:white;
    @include media-breakpoint-up(md) {
        width:60%;
    }
}

.col-7{
    padding-left:0;
    padding-right:0;
}
/*
.row {
    margin-right: 0px;
    margin-left: 0px;
}*/

p{
    margin-bottom:0rem;
}

.add-icon{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
}


.sort-icon{
    margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
}


.arrow-right{
    align-content:flex-end;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main-plant-arrow{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.sort-icon-box{
    display: flex;
    justify-content:flex-end; /* align horizontal */
    align-items: right; /* align vertical */
}


.splash-div{
    height: 100vh;
    display: flex;
    justify-content:center; /* align horizontal */
    align-items: center; /* align vertical */   
}

.fake-submit-button{
    background-color: DodgerBlue;
    color:white;
    cursor: pointer;
}

.plant-search-container{
    margin-left:5%;
    align-content:space-between;
    height: 50vh;
}

.status-box{
    display: flex;
    justify-content:flex-start; /* align horizontal */
    align-items: center; /* align vertical */
}

.status-dot{
    margin-right: 5px;
}




/*%secondary-header {
    font-size:20px;
}
.tagline{
    color: cornflowerblue;
}

.img-container img{
    width: 750px;
}

.carousel-indicators .active {
    background-color: #4cb2d4;
}

.carousel-indicators li {
    background-color: #ee4035;
    height: 5px;
    width: 5px;
    border-radius: 100%;
}

.tagline{
    font-weight: 700;
}

ul{
    list-style-image: url(../images/bullet.png);
}


li{
    padding: 10px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}


.list-header__text{
    font-weight: 900;
}*/

/*
.bg{
    background-image: url("../images/footer.jpg");
}

ul{
    list-style-type: circle;
}
.carousel-control-prev, .carousel-control-next {

    color: red;
}*/

